/*
Elementz Professional Theme
Created: 4/2009
By: myTheme at ThemeForest.net
http://themeforest.net/user/myTheme
Copyright 2009 yourcompany.com
*/



body {text-align:center;font:76% Arial,Verdana,sans-serif;line-height:1;padding-bottom:20px;background:#ebebeb url(../img/body-bg.png) repeat-x;border-top:5px solid #67920D;}

* {margin:0;padding:0;}
img, form fieldset {border:none;}
ul {list-style:none;}
a {text-decoration:none;}
:focus {outline:0;}


/*
////////  LAYOUT  ////////*/

#wrapper {width:1024px;margin:0 auto;padding:0 10px;text-align:left;background:url(../img/wrapper-bg.png) 0 195px no-repeat;}

#header {height:130px;position:relative;padding-left:10px;background:#485558 url(../img/header-bg.png);border-bottom:3px solid #67920D;}

#contentArea {clear:both;float:left;padding:20px 30px 40px 20px;width:972px;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff url(../img/contentArea-bg.png) 50% 1px no-repeat;}
#home #contentArea {width:984px;padding:19px;}

#primaryContent {float:right;width:645px;}

#secondaryContent {float:left;width:290px;padding:10px 33px 40px 5px;background:#fff url(../img/secondaryContent-bg.png) 100% 0 no-repeat;}

#footerContent {clear:both;width:984px;padding:20px 20px 8px 20px;background:#0F3149 url(../img/footerContent-bg.png) no-repeat;border-top:3px solid #67920D;border-bottom:3px solid #67920D;}
.footerColumn {float:left;width:280px;margin:0 40px 30px 0;}
.footerColumn.last {float:right;margin:0 0 30px 0;}


/*
////////  TYPOGRAPHY  ////////*/

h1 {float:left;font:2.8em Calibri,Verdana,sans-serif;margin-top:60px;line-height:1em;}
h1 a {color:#7BAF0A;}
h1 a strong {color:#fff;}
p.tagline {float:left;clear:both;margin-left:1px;font-size:.9em;font-weight:bold;color:#fff;text-transform:uppercase;}
h2 {clear:both;font:2.1em Calibri,Arial,Verdana,sans-serif;margin-bottom:6px;letter-spacing:-1px;}
h3 {clear:both;font-size:1.4em;color:#333;}
#secondaryContent h3 {font-size:1.2em;color:#111;margin-bottom:6px;}
#secondaryContent h4 {font-size:1.1em;color:#1B3C52;padding:0 0 12px 6px;}
#footerContent h4 {color:#eee;margin-bottom:6px;clear:both;font-size:1.2em;color:#fff;}
#footerContent h5 {font-size:.9em;color:#67920D;font-weight:normal;}

#contentArea p {clear:both;font-size:1.1em;line-height:1.4em;margin-bottom:12px;color:black;}
#contentArea p a {font-weight:bold;color:#67920D;}
#contentArea p a:hover {text-decoration:underline;}
#contentArea blockquote p {color:#555;padding-left:28px;margin-bottom:16px;background:url(../img/quote-bg.gif) 0 4px no-repeat;}

#secondaryContent p {font-size:1em;line-height:1.3em;margin-bottom:8px;color:#333;}

#primaryContent p.breadcrumbs {font-size:.9em;color:#666;padding-bottom:2px;border-bottom:1px solid white;}

#footerContent p {color:#eee;line-height:1.2em;}
#footerContent p a {font-weight:bold;color:#fff;}
#footerContent p a:hover {text-decoration:underline;}
a.box {float:left;clear:both;color:#fff;background:#67920D;padding:4px 6px;margin-top:8px;}
#contentArea a.box {margin:0 0 12px 0;}
a.box:hover {background:#7BAF0A;}

.footerColumn.last p {font-family:Georgia,serif;font-style:italic;padding:0 0 10px 4px;font-size:1.4em;color:#fff;}
.footerColumn.last p a {color:#fff;font-weight:normal;}

#footerLinks {clear:both;height:12px;border-top:1px solid #20445d;padding-top:6px;}
#footerLinks p {font-size:.9em;float:left;color:#536A6F;}
#footerLinks p.right {float:right;color:#eee;}
#footerLinks p a {color:#eee;font-weight:normal;}
#footerLinks p a:hover {text-decoration:underline;}


/*
////////  IMAGES  ////////*/

#primaryContent img {float:left;margin:0 12px 6px 0;border:0px solid #eee;}

#secondaryContent img {float:left;margin:3px 3px 3px 3px;}
#secondaryContent a img:hover {border:4px solid #ddd;}

#footerContent img {border:1px solid #7B898C;margin-bottom:12px;}


/*
////////  NAVI & LISTS  ////////*/

#header ul {position:absolute;right:10px;bottom:0px;}
#header ul li {float:left;margin-left:4px;text-transform:uppercase;background:#1B3C52;border-width:1px 1px 0 1px;border-color:#1c3e54;border-style:solid;}
#header ul li a {display:block;font-size:1.1em;font-weight:bold;padding:5px 12px 5px 12px;color:#ddd;}
/*#header ul li a:hover {background:#1f4259;color:#fff;}*/
#header ul li a:hover {background:#67920D;color:#fff;}
#header ul li a:focus  {background:#67920D;border-color:#739e19;}
/*#header ul li a:hover  {color:#fff;}*/
#header ul li a:active {cursor:default;background:#67920D;}

.navi-description {font-size:.7em;color:#eee;display:block;text-transform:none;padding-top:1px;}
#header ul li.current .navi-description {color:#fff;}
#header ul li a:hover .navi-description {color:#fff;}

ul.secondaryNavi {clear:both;float:left;width:100%;margin-bottom:30px;}
ul.secondaryNavi li {font-weight:bold;padding-left:14px;border-bottom:1px solid #eee;background:url(../img/secondaryNavi-bg.gif) 2px 50% no-repeat;}
ul.secondaryNavi li a {display:block;padding:6px;color:#222;}
ul.secondaryNavi li:hover {border-bottom:1px solid #ccc;background:#fafafa url(../img/secondaryNavi-bg.gif) 3px 50% no-repeat;}

#primaryContent ul, #primaryContent ol {margin-bottom:14px;padding-left:28px;color:#67920D;font-weight:bold;}
#primaryContent ul span, #primaryContent ol span {color:black;font-weight:normal;}
#primaryContent ul {list-style-type:square;}
#primaryContent ul li, #primaryContent ol li {font-size:1.1em;padding-bottom:3px;}

ul.secondaryList {margin-bottom:14px;padding-left:14px;color:#67920D;font-weight:bold;}
ul.secondaryList span {color:black;font-weight:normal;}
ul.secondaryList {list-style-type:disc;}
ul.secondaryList li {font-size:1.1em;padding-bottom:3px;}

#footerContent ul {clear:both;float:left;width:270px;}
#footerContent ul li {font-size:.9em;padding:5px 0 4px 2px;border-bottom:1px solid #1A3B52;}
#footerContent ul li a {display:block;color:#fff;}
#footerContent ul li:hover {border-bottom:1px solid #4F5E61;background:#193A51;}


/*
////////  PORTFOLIO  ////////*/

#contentArea .portfolioBox {float:left;width:238px;margin:0 10px 20px 0;padding:10px 10px 30px 10px;background:#eee url(../img/portfolioBox-bg.png) 0 100% no-repeat;border:1px solid white;}
#contentArea .portfolioBox img {border:0px solid #fafafa;margin:0 0 10px 0;}
#contentArea .portfolioBox h3 {margin:0 0 6px 0;}
#contentArea .portfolioBox p {color:#444;}


/*
////////  TABLES  ////////*/

table {margin-bottom:1px;border-collapse:collapse; width:100%;}    
table thead th {padding:5px 15px;}
table tbody th, table tbody td {padding:5px 15px;}
table thead th {background:#67920D;color:#fff;}
table tbody tr.alt {background-color:#f2f2f2;}


/*
////////  SEARCH BOX IN HEADER ////////*/

#searchbox {position:absolute;right:0;top:5px;width:400px;}
#searchbox form#search input {font-size:.9em;padding:1px 2px;color:#000;background:#efefef;border:1px solid #333;float:right;}
#searchbox form#search input#searchSubmit {font-size:.9em;cursor:pointer;padding:1px 6px;border:none;color:#eee;background:#1F4259;float:right;margin-left:2px;}
#searchbox form#search input#searchSubmit:hover {color:#fff;background:#244962;}


/*
////////  NOTE ////////*/

#secondaryContent .note {clear:both;width:250px;margin-bottom:18px;padding:14px 20px 20px 20px;background:#FFF8CF url(../img/note-bg.png) 0 100% no-repeat;}
#secondaryContent .note h3 {font-size:1.3em;color:#67920D;border-bottom:2px solid #ccc;padding-bottom:4px;}
#secondaryContent .note p {font-size:1.1em;color:#222;}
#secondaryContent .note a {font-size:1em;color:#67920D;font-weight:bold;}
#secondaryContent .note a:hover {text-decoration:underline;}


/*
////////  CONTACT FORM  ////////*/

form#contact fieldset label {font-weight:bold;display:block;padding-bottom:4px;margin-top:16px;color:#222;}
form#contact fieldset label em {font-weight:normal;color:#67920D;font-size:.9em;}

form#contact fieldset input, form#contact fieldset select, form#contact fieldset textarea {padding:2px;font:1.1em Arial;background-color:#f6f6f6;border:1px solid #ddd;color:#333;}

form#contact fieldset .radio {border:none;background-color:transparent;}

form#contact fieldset textarea {width:410px;overflow:auto;}
form#contact fieldset button {padding:4px 8px;margin-top:4px;border:0;cursor:pointer;color:#fff;background:#67920D;}
form#contact fieldset button:hover {background:#7BAF0A;}


/*
////////  HOMEPAGE SLIDER  ////////*/

#intro {clear:both;}
#intro #slider li {width:984px;height:337px;overflow:hidden;text-align:center;}

#intro #slider li h2 {clear:both;font-size:2.0em;font-style:italic;margin-bottom:12px;margin-top:80px;}
#intro #slider li p {width:380px;margin:0 250px 12px 250px;}

#intro p#controls {margin:0;position:relative;}

#intro #prevBtn, #intro #nextBtn {display:block;margin:0;overflow:hidden;position:absolute;left:5px;top:-185px;}
#intro #nextBtn {left:960px;float:right;}
#intro #prevBtn a, #intro #nextBtn a {font-size:3em;display:block;padding:10px 0;color:#67920D;}
#intro #prevBtn a:hover, #intro #nextBtn a:hover {color:#7BAF0A;text-decoration:none;}